<h2>My people</h2>
<ul class="heroes">
  <li
    *ngFor="let person of people"
    [class.selected]="person === selectedPerson"
    (click)="onSelect(person)"
  >
    <span class="badge">{{ person.id }}</span> {{ person.name }}
  </li>
</ul>

<div *ngIf="selectedPerson">
  <h2>{{ selectedPerson.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ selectedPerson.id }}</div>
  <div>
    <label
      >name:
      <input [(ngModel)]="selectedPerson.name" placeholder="name" />
    </label>
  </div>
</div>
